<form [formGroup]="addForm" (ngSubmit)="onSubmit()" >
  <div class="card-content">
      <div class="form-group ">
          <label>Card Number</label>
          <input  appCreditCard  type="text" formControlName="cardNumber" placeholder="Enter your card namber" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.cardNumber.errors}"  required/>
          <div *ngIf="submitted && f.cardNumber.errors" class="invalid-feedback">
              <div *ngIf="f.cardNumber.errors.required">Card number is required</div>
          </div>
      </div>
    <!-- <div class="input">
      <label></label>
      <input  class="form-control" appCard type="text" formControlName=""  maxlength="19" required>
      <div class="error" *ngIf="addForm.controls.cardNumber.errors && isSubmited">
        <p></p>
      </div>
    </div> -->
    <div class="form-group ">
        <label>Card Owner</label>
        <input   type="text" formControlName="owner"  class="form-control"[ngClass]="{ 'is-invalid': submitted && f.owner.errors}"  required/>
        <div *ngIf="submitted && f.owner.errors" class="invalid-feedback">
            <div *ngIf="f.owner.errors.required">Card owner is required</div>
            <div *ngIf="f.owner.errors.required">Name should start with Mr or Mrs</div>
        </div>
    </div>
    {{isSubmited}}
    <div class="small">
      <div class="input">
        <label>CVV</label>
        <input  class="form-control"  type="text" formControlName="cvv" maxlength="3" [ngClass]="{ 'is-invalid': submitted && f.cvv.errors}" required>
        <div *ngIf="f.cvv.errors && isSubmited">CVV number is required</div>
        </div>
      <div class="input">
        <label>Expiration Date</label>
        <input  class="form-control"  type="text" formControlName="expiration" maxlength="5" [ngClass]="{ 'is-invalid': submitted && f.expiration.errors}"required>
        <div *ngIf="f.expiration.errors && isSubmited">Expiration date is required</div>
      </div>
    </div>
  </div>
</form>





