
<!-- <app-fronet *ngIf="registerActive" (rIsActive)="displayRegister($event)"></app-front>
<app-second-page *ngIf="addCardActive" (cIsActive) = "displayAddCard($event)"></app-second-page>
<app-subscribe *ngIf="subscribeActive" (sIsActive) = "displaySubscribe($event)"></app-subscribe> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<app-final></app-final>