<div class="card-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="btn-container">
        <button  class='btn btn-success'(click)="addCard()">Add Credit Card</button>
        <div *ngFor="let item of cardL">
          <app-second-page></app-second-page>
        </div>
      </div>
      <div class="btn-container">
        <button class='btn btn-success' (click)="openBilling=true">Add Billing Address</button>
        <div class="card-content" *ngIf="openBilling">
            <div class="form-group ">
                <label>City</label>
                <input   type="text" formControlName="city" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.city.errors}"  required/>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">City is required</div>
                </div>
            </div>
            <div class="form-group ">
                <label>Street</label>
                <input   type="text" formControlName="street" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.street.errors}"  required/>
                <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
                    <div *ngIf="f.street.errors.required"> Street is required</div>
                </div>
            </div>
            <div class="form-group ">
                <label>Apartment</label>
                <input   type="text" formControlName="apartment" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.apartment.errors}"  required/>
                <div *ngIf="submitted && f.apartment.errors" class="invalid-feedback">
                    <div *ngIf="f.apartment.errors.required"> Apartment is required</div>
                </div>
            </div>
            <div class="form-group ">
                <label>Phone Number</label>
                <input   type="text" formControlName="phoneNumber" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors}"  required/>
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required"> Phone Number is required</div>
                </div>
            </div>
           
        </div>
      </div>
      <div class="nav-btn">
        <button class='btn btn-success' (click)="goBack()">Back</button>
        <button class='btn btn-success'>Next</button>
      </div>
    </form>
  </div>